header {
  font-family: arial; }

.logo {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00A0E4;
  /*background-image: url('silver.png');*/ }

.paging-button {
  visibility: hidden; }

.button-container {
  clear: both; }

.testing {
  width: 71.42857%; }

body {
  margin: 0; }

h1 {
  float: left;
  margin: 0;
  height: 50px;
  line-height: 50px;
  padding-right: 150px;
  color: white; }

h2 {
  text-align: center;
  font-family: arial;
  color: grey; }

img {
  display: block;
  margin: auto;
  height: 60px; }

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #CC0017; }

ul.topnav li {
  float: left; }

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px; }

ul.topnav li a:hover {
  background-color: #555; }

ul.topnav li.icon {
  display: none; }

@media screen and (max-width: 680px) {
  ul.topnav li:not(:first-child) {
    display: none; }
  ul.topnav li.icon {
    float: right;
    display: inline-block; } }

@media screen and (max-width: 680px) {
  ul.topnav.responsive {
    position: relative; }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0; }
  ul.topnav.responsive li {
    float: none;
    display: inline; }
  ul.topnav.responsive li a {
    display: block;
    text-align: left; } }
